<h1>All Lists</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">List Name</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= link_to 'Show', board_list_path(list.board_id, list) %></td>
        <td><%= link_to 'Edit', edit_board_list_path(list.board_id, list) %></td>
        <td><%= link_to 'Destroy', board_list_path(list.board_id, list), method: :delete %></td>
      </tr>  
    <% end %>
    <tr> 
      <%= link_to "Add List",new_board_list_path , class:"nav-link" %>      
    </tr>
    
  </tbody>
</table>